<h2><%= @tag.name  %></h2>

<p> <%= @tag.percentage_of_spending  %> % of your expenditure is on <%= @tag.name %>.
<%if @tag.total_spend() > 2000  %>
  So that's £ <%= @tag.total_spend().to_f / 100 %> gone, just like that  </p>
<% end  %>
<h5><a href="/tags/<%= @tag.id()%>/edit">edit</a></h5>



<form method="post" action="/tags/<%= @tag.id()%>/delete">

<input type="submit" value="DELETE" />
</form>



<hr>
<h5> Transactions for <%= @tag.name() %></h5>

<table>
  <tr>
    <th>Merchant</th>
    <th></th>
    <th>Tag</th>
    <th></th>
    <th>Amount</th>
    <th></th>
    <th>Reference</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
  <td>
  <% if transaction.merchant_id.nil?   %>
  <tr>
    <td>
      <a href="/transactions/<%= transaction.id %>">
      <img src="/images/logos/deleted.jpeg" alt="deleted" style="width:100%">
      no longer trading
    <% else  %>
    <a href="/transactions/<%= transaction.id %>">
  <img src="<%= Merchant.find(transaction.merchant_id).logo() %>" alt="<%= Merchant.find(transaction.merchant_id).name() %>" style="width:100%">
  <%= Merchant.find(transaction.merchant_id).name() %>
  <% end %>
    </td>
    <td>|</td>
    <td><%= @tag.name %></td>
    <td>|</td>
    <td><%= transaction.value_to_pounds %></td>
    <td>|</td>
    <td><%= transaction.reference() %></a></td>
    <td>

    <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
</td>
  </tr>
  <% end %>
</table>
