<h1 class="pretty">Transactions</h1>  <h2 class=total> Last week : <%= Transaction.last_week_total()  %></h2>
<ul class="transaction-options">
  <li><button class="color"><a href="/transactions">Order by newest transaction first </a></button></li>
  <li><button class="color"><a href="/transactions/oldest_first">Order by oldest transaction first </a></button></li>
  <li><button class="color">
  <a href="/transactions/yesterday">yesterday </a></button></li>
  <li><button class="color"><a href="/transactions/last_week"> last week </a></button></li>
  <li><button class="color"><a href="/transactions/last_month">last month </a></button></li>
  <li><button class="color">
  <a href="/transactions/tags">category breakdown </a></button></li>
</ul>


<table class="transaction">
  <tr>
    <th>Merchant</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Amount</th>
    <th></th>
    <th>Reference</th>
    <th></th>
    <th>time stamp</th>
  </tr>
  <% for transaction in @transactions %>
  <% if transaction.merchant_id.nil?   %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="/images/logos/deleted.jpeg" alt="deleted" >
  no longer trading

  <% else  %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="<%= Merchant.find(transaction.merchant_id).logo() %>" alt="<%= Merchant.find(transaction.merchant_id).name() %>" >
  <%= Merchant.find(transaction.merchant_id).name() %>
  <% end  %>
    </td>
    <td>|</td>
    <% if transaction.tag_id.nil?   %>
    <td> no tag applied </td>
    <% else  %>
    <td><%= Tag.find(transaction.tag_id).name() %></td>
    <% end  %>
    <td>|</td>
    <td><%= transaction.value_to_pounds %></td>
    <td>|</td>
    <td><%= transaction.reference() %></a></td>
    <td>
    <td>|</td>
    <td><%= transaction.time_stamp() %></a></td>
    <td>

    <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
</td>
  </tr>
  <% end  %>

</table>
