<h1>Transactions</h1>  <h2 class=total> Total money gone forever: £<%= Transaction.total_spend()  %></h2>
<a href="/transactions">Order by newest first </a>

<table>
  <tr>
    <th>Merchant</th>
    <th></th>
    <th>Tag</th>
    <th></th>
    <th>Amount</th>
    <th></th>
    <th>Reference</th>
    <th></th>
    <th>time stamp</th>
  </tr>
  <% for transaction in @transactions %>
  <% if transaction.merchant_id.nil?   %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="/images/logos/deleted.jpeg" alt="deleted" style="width:100%">
  no longer trading

  <% else  %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="<%= Merchant.find(transaction.merchant_id).logo() %>" alt="<%= Merchant.find(transaction.merchant_id).name() %>" style="width:100%">
  <%= Merchant.find(transaction.merchant_id).name() %>
  <% end  %>
    </td>
    <td>|</td>
    <% if transaction.tag_id.nil?   %>
    <td> no tag applied </td>
    <% else  %>
    <td><%= Tag.find(transaction.tag_id).name() %></td>
    <% end  %>
    <td>|</td>
    <td><%= transaction.value_to_pounds %></td>
    <td>|</td>
    <td><%= transaction.reference() %></a></td>
    <td>
    <td>|</td>
    <td><%= transaction.time_stamp() %></a></td>
    <td>

    <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
</td>
  </tr>
  <% end  %>

</table>
