

<tr>
  <td>
    <% if @transaction.merchant_id.nil?  %>

    <img src="/images/logos/deleted.jpeg" alt="deleted" style="width:100%">
    no longer trading
    <% else  %>
    <img src="..<%= Merchant.find(@transaction.merchant_id).logo() %>" alt="<%= Merchant.find(@transaction.merchant_id).name() %>" >
    <%= Merchant.find(@transaction.merchant_id).name() %>
    <% end  %>
  </td>
  <td>|</td>
  <% if @transaction.tag_id.nil?  %>
  <td> no tag applied </td>
  <% else  %>
  <td><%= Tag.find(@transaction.tag_id).name() %></td>
  <% end  %>
  <td>|</td>
  <td><%= @transaction.value_to_pounds %></td>
  <td>|</td>
  <td><%= @transaction.reference() %></a></td>
</tr>

<a href="/transactions/<%= @transaction.id %>/edit">Edit</a>


<form method="post" action="/transactions/<%= @transaction.id()%>/delete">

<input type="submit" value="DELETE" />
</form>
