<h1>Transactions by tag</h1>  <h2 class=total> Yesterday : <%= Transaction.total_spend()  %></h2>
<a href="/transactions">Order by newest first </a>
<a href="/transactions/oldest_first">Order by oldest first </a>
<a href="/transactions/yesterday">view yesterday </a>
<a href="/transactions/last_week">view last week </a>
<a href="/transactions/last_month">view last month </a>
<a href="/transactions/tags">view tags </a>

<table>
  <tr>
    <th>Tag</th>
    <th></th>
    <th>Amount</th>
    <th></th>
    <th>%</th>
    </tr>
  <% for tag in @tags %>

  <tr>
    <td>
    <a href="/tags/<%= tag.tag_id %>">
  <%= Tag.find(tag.tag_id).name  %>

    </td>
    <td>|</td>
    <td>£ <%= tag.amount().to_f / 100 %></td>

    <td>|</td>
    <td><%= Tag.find(tag.tag_id).percentage_of_spending%></td>

    <% end   %>




</table>
