<h1 class="pretty">Transactions by Category</h1>  <h2 class=total> Yesterday : <%= Transaction.total_spend()  %></h2>
<ul class="transaction-options">
  <li><button class="color"><a href="/transactions">Order by newest transaction first </a></button></li>
  <li><button class="color"><a href="/transactions/oldest_first">Order by oldest transaction first </a></button></li>
  <li><button class="color">
  <a href="/transactions/yesterday">yesterday </a></button></li>
  <li><button class="color"><a href="/transactions/last_week"> last week </a></button></li>
  <li><button class="color"><a href="/transactions/last_month">last month </a></button></li>
  <li><button class="color">
  <a href="/transactions/tags">category breakdown </a></button></li>
</ul>

<table class="tag">
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>%</th>
    </tr>
  <% for tag in @tags %>

  <tr>
    <td>
    <a href="/tags/<%= tag.tag_id %>">
  <%= Tag.find(tag.tag_id).name  %>

    </td>
    <td>£ <%= tag.amount().to_f / 100 %></td>
    <td><%= Tag.find(tag.tag_id).percentage_of_spending%></td>

    <% end   %>




</table>
