<h1 class="pretty">Transactions by Category</h1>  <h2 class=total> Yesterday : <%= Transaction.total_spend()  %></h2>
<%= erb(:"transaction/list")  %>

<table class="tag">
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>%</th>
    </tr>
  <% for tag in @tags %>

  <tr>
    <td>
    <a href="/tags/<%= tag.tag_id %>">
  <%= Tag.find(tag.tag_id).name  %>

    </td>
    <td>£ <%= tag.amount().to_f / 100 %></td>
    <td><%= Tag.find(tag.tag_id).percentage_of_spending%></td>

    <% end   %>




</table>
