<h1 class="pretty">Transactions by Category</h1>  <h2 class=total> Total: £ <%= Transaction.total_spend()  %></h2>
<%= erb(:"transaction/list")  %>

<table class="tag">
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>%</th>
    </tr>
  <% for tag in @tags %>
  <tr>
    <td>
    <% if tag.tag_id.nil?  %>
    Deleted tag
    <% else  %>
    <a href="/tags/<%= tag.tag_id %>">
  <%= Tag.find(tag.tag_id).name  %>
  <% end  %>

    </td>
    <td>£ <%= tag.amount().to_f / 100 %></td>
    <td>
      <% if tag.tag_id.nil?  %>
      <%= Tag.percentage_of_spending__deleted %>%
      <% else  %>
    <%= Tag.find(tag.tag_id).percentage_of_spending%>%
    <% end  %>
  </td>

    <% end   %>




</table>
