<h1>Transactions</h1>  <h2 class=total> Yesterday : <%= Transaction.yesterday_total()  %></h2>
<a href="/transactions">Order by newest first </a>
<a href="/transactions/oldest_first">Order by oldest first </a>
<a href="/transactions/yesterday">view yesterday </a>
<a href="/transactions/last_week">view last week </a>
<a href="/transactions/last_month">view last month </a>
<a href="/transactions/tags">view categories </a>

<table class="transaction">
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Reference</th>
    <th>time stamp</th>
  </tr>
  <% for transaction in @transactions %>
  <% if transaction.merchant_id.nil?   %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="/images/logos/deleted.jpeg" alt="deleted">
  no longer trading

  <% else  %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="<%= Merchant.find(transaction.merchant_id).logo() %>" alt="<%= Merchant.find(transaction.merchant_id).name() %>" >
  <%= Merchant.find(transaction.merchant_id).name() %>
  <% end  %>
    </td>
    <% if transaction.tag_id.nil?   %>
    <td> no category applied </td>
    <% else  %>
    <td><%= Tag.find(transaction.tag_id).name() %></td>
    <% end  %>
    <td><%= transaction.value_to_pounds %></td>
    <td><%= transaction.reference() %></a></td>
    <td><%= transaction.time_stamp() %></a></td>
    <td>

    <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
</td>
  </tr>
  <% end  %>

</table>
