<img src="/images/logos/<%= @filename %>" alt="image of <%=@filename.sub("jpeg","")%>">


  <form method="post" action="/merchants">
  <label for="logo-select">Company Logo:</label>
  <select id="logo-select" name="logo">
  <option value="/images/logos/<%= @filename %> "> logo chosen </option>
  </select>

  <label for="name">Name:</label>
  <input id="name" type ="text" name="name" value="<%=@name %> "required placeholder="<%=@name%>"/>
  <input type="submit" value="Create New Merchant" />
</form>
