<h1><%= @merchant.name %> </h1>   <h5><a href="/merchants/<%= @merchant.id()%>/edit">edit</a></h5>
   <img src="<%= @merchant.logo %>" alt="<%=@merchant.name()%>'s logo'">



   <form method="post" action="/merchants/<%= @merchant.id()%>/delete">

  <input type="submit" value="DELETE" />
</form>



<hr>
<h5> Transactions for this merchant </h5>

<table class= "merchant">
  <tr>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th>Reference</th>
    <th>Time Stamp</th>

  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td>
    <a href="/transactions/<%= transaction.id %>">
  <img src="<%= Merchant.find(transaction.merchant_id).logo() %>" alt="<%= Merchant.find(transaction.merchant_id).name() %>" style="width:100%">
  <%= Merchant.find(transaction.merchant_id).name() %>
    </td>
    <% if transaction.tag_id.nil?   %>
    <td> no tag applied </td>
    <% else  %>
    <td><%= Tag.find(transaction.tag_id).name() %></td>
    <% end  %>
    <td>£<%= transaction.value_to_pounds() %></td>
    <td><%= transaction.reference() %></a></td>
    <td><%= transaction.time_stamp() %></a></td>
    <td>

    <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
</td>
  </tr>
  <% end %>
</table>
